.project-display {
    position: absolute;
    bottom: 0;    
    left: 0;
    height: 0;
    width: 100vw;    
    display: grid;
    background-color: rgba(0, 0, 0, .5);
    transition: height .5s cubic-bezier(0.5, 1, 0.89, 1);
    overflow: hidden;
}

.project-display.project-selected {
    height: var(--full-height);
    overflow: auto;
}

.project-display__visual {
    margin: 1em;
    background-color: #222;
    border: 5px solid white;
    border-radius: 15px;
    padding: 0em 2em 1em;
}

.project-display__close-btn {
    position: absolute;
    top: 3em;
    right: 3em;
    transition: all .15s ease-in;
}

.project-display__close-btn:hover,
.project-display__close-btn:active,
.project-display__close-btn:focus {
    transform: scale(1.5);
}

@media(max-width: 768px) {
    .project-display__close-btn {
        width: 40px;
        top: 2em;
        right: 2em;
    }

    .project-display__visual {
        padding: 0em 1em 1em;
    }
}