.project-content {
    font-size: 1.75em;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-content h2 {
    font-size: 2em;
    margin-bottom: .25em;
}

.project-content iframe {
    min-width: min(540px, 100%);
    aspect-ratio: 16/9;
    margin-bottom: .5em;
}

.project-content__description {
    margin: 0 0 1em;
}

.project-content a {    
    margin: .5em;
    font-size: 1.5em;
    font-weight: bold;
    color: aliceblue;
}

.project-content a:hover,
.project-content a:focus {
    color: -webkit-link;
}

.project-content__carousel-holder {   
    width: min(700px, 100%);
    margin: auto;
}

/* Overriding Carousel CSS */
.project-content .carousel .slide {
    display: flex;
    justify-content: center;
}

.project-content .carousel .carousel-status {
    font-size: 16px;
    z-index: 100;
}

.project-content .carousel.carousel-slider .control-arrow {
    width: 8%;
    background: rgba(0,0,0,0.25);
}

.project-content .carousel .control-arrow:before, 
.project-content .carousel.carousel-slider .control-arrow:before {
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
}

.project-content .carousel .control-next.control-arrow:before {
    border-left: 24px solid #fff;
}

.project-content .carousel .control-prev.control-arrow:before {
    border-right: 24px solid #fff;
}

.project-content .carousel .control-dots .dot {
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.9);
}

.project-content .carousel .thumb {
    border-color: #333;
    height: 60px;
}

.project-content .carousel .thumb.selected, 
.project-content .carousel .thumb:hover {
    border-color: #fff;
    cursor: pointer;
}

.project-content .carousel .thumb img {
    vertical-align: middle;
}

.project-content .carousel .thumbs-wrapper {
    margin: 0 1em;
}

.project-content .carousel .thumbs {
    padding-left: 0;
    margin-bottom: 0;
}

.project-content .carousel .slide .legend {
    opacity: 1;
    font-size: .5em;
    padding-bottom: 15px;
    bottom: 2px;
}

@media(max-width: 1200px) {
    .project-content {        
        font-size: 1.5em;
    }
}

@media(max-width: 768px) {
    .project-content {        
        font-size: 1.25em;
    }

    .project-content .carousel.carousel-slider .control-arrow {
        width: auto;
    }

    .project-content .carousel .slide .legend {
        padding-bottom: 20px;
    }
}