.bio-holder {
    display: flex;
    gap: 5em;
    max-width: 1400px;
    padding: 0 2rem;
    margin: 0 auto;

    padding-top: var(--header-height);
    padding-bottom: var(--category-display-height);
}

.bio-holder > div {
    flex: 1 1 0px;
}

.left-bio {
    margin-top: 5em;
}

.left-bio h1 {
    font-size: 160px;
    margin: 0;
    text-shadow: .1em .1em teal;
}

.right-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25em;
}

@media(max-width: 1080px) {
    .bio-holder {
        flex-direction: column;
        gap: 2em;
    }

    .left-bio h1 { 
        font-size: 5em;
    }

    .left-bio {
        margin-top: 0;
    }
}

@media(max-width: 768px) {
    .bio-holder {
        font-size: .85em;
    }
}

@media(max-width: 576px) {
    .bio-holder {
        font-size: .55em;
    }

    .left-bio h1 { 
        font-size: 4em;
        margin-top: 0;
    }

    .right-bio p {
        margin: .5em 0;
    }
}

@media(max-height: 768px) {
    .left-bio {
        margin-top: 1em;
    }

    .right-bio p {
        margin: .5em 0;
    }    
}

@media(max-height: 500px) {
    .left-bio {
        h1 {
            font-size: 3em;
        }
    }
    .bio-holder {
        font-size: 0.5em;
    }
}