.category-content {
    width: 100%;
    display: flex;
}

.category-content__holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 4em;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 5em;
    opacity: 1;
    transition: all .5s;
}

.category-transitioning .category-content__holder,
.category-display:not(.category-selected) .category-content__holder {
    opacity: 0;
    transition: none;
}

.category-content__holder input {
    width: 450px;
    aspect-ratio: 16 / 9;
    outline: 5px solid white;
    border-radius: 5px;    
    transition: all .2s ease-in-out;
    background-color: darkgrey;
    box-shadow: 3px 3px 10px 4px black;
}

.category-content__holder input:hover {
    transform: scale(1.1);
}

@media(max-width: 768px) {    
    .category-content__holder input {
        width: 250px;
    }
}