.category {
    padding: 1rem;    
    height: 65%;
    margin-top: auto;
    transition: height .75s cubic-bezier(.17,1.68,.7,1.01);
    font-size: 3em;
    font-weight: bold;
}

.category:hover {
    height: 90%;
}

.category-selected .category {
    height: 100%;
    border-bottom: 3px solid white;
    border-right-width: 0;
    border-left-width: 0;
}

.category-vr.category-selected .category.category-style-vr,
.category-games.category-selected .category.category-style-games,
.category-web.category-selected .category.category-style-web {
    border: 3px solid white;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: 0;
}

@media(max-width: 768px) {
    .category,
    .category:hover {
        height: 100%;
        font-size: 2em;
    }

    .category-selected .category {    
        border: 1px solid transparent;
    }

    .category-vr.category-selected .category.category-style-vr,
    .category-games.category-selected .category.category-style-games,
    .category-web.category-selected .category.category-style-web {
        border: 3px solid white;
    }
}

@media(max-height: 500px) {
    .category,
    .category:hover {
        height: 100%;        
        font-size: 1em;
        padding: inherit;
    }
}

@media(max-width: 500px) {
    .category, .category:hover {
        padding: .5em;
        font-size: 1.25em;
    }
}