.category-display {
    position: absolute;  
    left: 0;
    right: 0;  
    bottom: 0;
    height: var(--category-display-height);
    transition: height .5s cubic-bezier(0.16, 1, 0.73, 1.04);
    display: flex;
    flex-direction: column;
}
  
.category-display.category-selected {
    height: var(--full-height);
}

.category-display.category-transitioning,
.category-display.category-project-display {
    overflow: hidden;
}

.category-display.category-project-display {
    height: var(--max-full-height);
}

.category-holder { 
    min-height: var(--category-display-height);  
    display: grid;
    grid-auto-flow: column;
}

.category-selected .category-holder {
    min-height: var(--category-titles-opened-height);
}

@media(max-width: 768px) {
    .category-display {
        overflow-x: hidden;
    }    
    .category-holder {
        grid-auto-flow: row;
    }
}

@media(max-height: 500px) {
    .category-holder { 
        grid-auto-flow: column;
    }
}

.category-content-holder {
    position: relative;
    display: none;
    flex-grow: 1;
    width: calc(var(--full-width) * 3);
}

.category-selected:not(.category-transitioning) .category-content-holder {    
    transition: right .175s ease-out;
}

.category-selected .category-content-holder,
.category-transitioning .category-content-holder{
    display: flex;
}

.category-games .category-content-holder {
    right: calc(var(--full-width) * 0);
}

.category-vr .category-content-holder {
    right: calc(var(--full-width) * 1);
}

.category-web .category-content-holder {
    right: calc(var(--full-width) * 2)
}
