body {
  margin:0px;
  background-image:url('../../images/home/bg.jpg');
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:72px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:130px;
  width:480px;
  height:72px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:476px;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:55px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:732px;
  width:178px;
  height:55px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:174px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:56px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:731px;
  width:180px;
  height:56px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:176px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:232px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:15px;
  width:300px;
  height:232px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:49px;
  background:-webkit-linear-gradient(270deg, rgba(255, 51, 51, 1) 0%, rgba(255, 51, 51, 1) 0%, rgba(204, 102, 153, 1) 100%, rgba(204, 102, 153, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 51, 51, 1) 0%, rgba(255, 51, 51, 1) 0%, rgba(204, 102, 153, 1) 100%, rgba(204, 102, 153, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 51, 51, 1) 0%, rgba(255, 51, 51, 1) 0%, rgba(204, 102, 153, 1) 100%, rgba(204, 102, 153, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:200px;
  width:380px;
  height:49px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:217px;
  width:283px;
  height:16px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:279px;
  white-space:nowrap;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:495px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:247px;
  width:720px;
  height:495px;
  color:#33CC99;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:473px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:259px;
  width:660px;
  height:473px;
  font-size:28px;
  color:#33CC99;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:656px;
  word-wrap:break-word;
}
