header {
    top: 0;
    left: 0;
    position: absolute;  
    width: 100%;
    height: var(--header-height);
    background-color: var(--accent-color);
    --header-icon-padding: 10px;
}

.header__socials {
    height: 100%;
    display: flex;
    justify-content: end;
    gap: .125em;
    padding-right: 1em;
}
  
header a {  
    display: flex;
    padding: var(--header-icon-padding);
    aspect-ratio: 1 / 1;
}

header img {    
    transition: all .125s ease-in;
    height: calc(var(--header-height) - (2 * var(--header-icon-padding)));
    aspect-ratio: 1 / 1;
}

header a:hover img {
    transform: scale(1.25);
} 

@media (max-width: 768px) {
    .header__socials {
        padding-right: .25em;
        gap: 0;
    }
}