:root {
  --header-height: 50px;
  --category-display-height: 150px;
  --category-titles-opened-height: 80px;
}

#root {
  text-align: center;
  display: flex;
  margin: auto;
}

@media(max-width: 768px) {
  :root {
    --category-display-height: 250px;    
    --category-titles-opened-height: 285px;
  }
}

@media(max-height: 500px) {
  :root {
    --category-display-height: 100px;    
    --category-titles-opened-height: 80px;
  }
}