:root {
  --header-height: 50px;
  --category-display-height: 150px;
  --category-titles-opened-height: 80px;
  --full-height: 100vh; /* fullback just in case svh isn't supported */
  --full-height: 100svh;
  --max-full-height: var(--full-height);
  --max-full-height: 100lvh;
  --full-width: 100vw;
  --full-width: 100svw;
}

#root {
  text-align: center;
  display: flex;
  margin: auto;
}

@media(max-width: 768px) {
  :root {
    --category-display-height: 200px;    
    --category-titles-opened-height: 285px;
  }
}

@media(max-width: 500px) {
  :root {
    --category-display-height: 200px;
    --category-titles-opened-height: 200px;
  }
}

@media(max-height: 500px) {
  :root {
    --category-display-height: 70px;    
    --category-titles-opened-height: 70px;
  }
}